/* @import url("https://fonts.googleapis.com/css?family=Roboto:300"); */
body {
  font-family: "Inter", sans-serif;
}

.container {
  padding: 0 5rem;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}

.w-100 {
  width: 100% !important;
}

.headingText {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: center;
  text-transform: uppercase;
}

.btn-group {
  background: #f2f2f2;
  width: max-content;
  border-radius: 10px;
}
.btn-group .btn {
  width: 165px;
  border: 0;
  background: transparent;
  padding: 20px 30px;
  cursor: pointer;
}
.active {
  color: white;
  background: black !important;
  border-radius: 10px;
}
.my-1 {
  margin: 2px 0;
}
.my-2 {
  margin: 5px 0;
}
.my-3 {
  margin: 10px 0;
}

.rounded-1 {
  border-radius: 5px;
}
.rounded-2 {
  border-radius: 10px;
}
.rounded-3 {
  border-radius: 15px;
}
.img-poster {
  object-fit: cover;
  height: 340px;
}
.cartBtn {
  border: 0;
  background: black;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.products {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

strike {
  color: #8f8f8f;
}

.footer-product > h6 > span:last-child {
  color: #ff3737;
}

.heading-product {
  height: 25px;
  overflow: hidden;
}
.heading-product > span {
  padding: 5px;
}
.product-price {
  font-size: 14px;
  display: flex;
  gap: 1.2rem;
}

@media (max-width: 500px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .container {
    padding: 0 0.2rem;
  }
  .btn-group .btn {
    width: 120px;
  }
  .product-price {
    font-size: 12px;
    gap: 0.5rem;
  }
}
@media (min-width: 500px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .container {
    padding: 0 1rem;
  }
  .btn-group .btn {
    width: 140px;
  }
}
@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .container {
    padding: 0 1rem;
  }
  .btn-group .btn {
    width: 150px;
  }
}
@media (min-width: 992px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
}
@media (min-width: 1200px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .container {
    padding: 0 5rem;
  }
  .btn-group .btn {
    width: 160px;
  }
}
